h1 {
  text-align: center;
  color: rebeccapurple;
}

#rgb-color {
  text-align: center;
}

#fatherBalls {
  display: flex;
  justify-content: center;
}

.ball {
  width: 50px;
  height: 50px;
  background-color: rebeccapurple;
  border-radius: 50px;
  margin-left: 10px;
}

p {
  text-align: center;
}