* {
  margin: 0;
  padding: 0;
}

#title {
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  margin: 40px;
}

body {
  text-align: center;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
}
