:root {
  --bgBody: rgb(239, 230, 246);
  --bgBtn: rgb(101, 90, 202);
  --colorTextBgDark: rgb(247, 243, 252);
  --colorTextbright:  rgb(7, 25, 70);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bgBody);
}

.ball-container {
  display: flex;
}

.ball-container div + div {
  margin-left: 10px;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.header {
  margin: 0 auto;
  text-align: center;
}

.header h1 {
  font-size: 3em;
  color: var(--colorTextbright);
  padding: 40px;
  font-weight: 600;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container p {
  font-size: 2em;
  color: var(--colorTextbright);
  margin: 20px;
}

.answer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.answer span {
  font-size: 1.5em;
  color: var(--colorTextbright);
}

.btn {
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  background-color: var(--bgBtn);
  color: var(--colorTextBgDark);
}

.btn:hover {
  opacity: 0.8;
}
