#title {
  text-align: center;
}

#rgb-color {
  background: crimson;
  text-align: center;
  font-size: 20pt;
  margin-bottom: 4%;
}

#color-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ball {
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
