* {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  margin: 20px 0;
}

header h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

header p {
  font-size: 20px;
}

#ballSection {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}
