* {
  padding: 0;
  margin: 0;
  background-color: rgb(182, 179, 179);
}

header {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 10px;
}

header h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

header p {
  font-size: 20px;
}

#ballSection {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.ball {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 10px;
  margin-bottom: 20px;
}

#answers {
  font-size: 20px;
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 2px;
  border: 1px solid black;
  background-color: grey;
  color: rgb(248, 237, 237);
}
