* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Teko, sans-serif;
  color: rgb(34, 34, 34);
}

body {
  background-color: rgb(240, 242, 245);
}

button {
  padding: 0.3em 1.2em;
  border-radius: 2em;
  box-sizing: border-box;
  font-size: 1.1em;
  background-color: rgb(223, 223, 223);
  transition: all 0.2s;
  cursor: pointer;
  outline: unset;
  margin-top: 7.5px;
}

button:hover {
  background-color: rgb(196, 196, 196);
}

#section-title {
  background-color: rgb(170, 231, 194);
  padding: 15px;
}

#title {
  font-size: 3em;
  color: snow;
}

#rgb-color {
  margin-top: 7.5px;
}

#rgb-color p {
  font-size: 1.5em;
  font-style: italic;
  margin-top: 15px;
}

#section-balls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.ball {
  border-radius: 100%;
  padding: 30px;
  margin-left: 7.5px;
  box-shadow: 0 1px 3px 1px rgb(0 0 0 / 55%);
  transition: all 0.3s;
  cursor: pointer;
}

.ball:hover {
  transform: scale(1.1);
}

.ball:active {
  transform: scale(0.9);
}

#section-paragraphs {
  margin-top: 15px;
  font-size: 1.35em;
}
