h1 {
  text-align: center;
  color: rebeccapurple;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: auto;
}

#rgb-color {
  text-align: center;
}

#fatherBalls {
  display: flex;
  justify-content: center;
  background-color: rgb(233, 233, 233);
  padding: 20px;
  border-radius: 5px;
}

.ball {
  width: 50px;
  height: 50px;
  background-color: rebeccapurple;
  border-radius: 50px;
  margin-left: 10px;
}

p {
  text-align: center;
}

body {
  background-color: salmon;
}

#answer {
  font-weight: 900;
  font-size: 30px;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.color1 {
  color: salmon;
  margin-top: 100px;
}