.ball-container {
  display: flex;
}

.ball-container div + div {
  margin-left: 10px;
}

.ball {
  /* background-color: rgb(108, 77, 107); */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}