/* -----------------------header----------------------- */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rainbow-text {
    text-align: center;
    font-size: 4vw;
    width: 35vw;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); -webkit-background-clip: text;
    color: transparent;
}

/* -----------------------main------------------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rgb-container {
    width: 100%;
    font-size: 1.5vw;
    margin: 30px 0;
}

#rgb-color {
    text-align: center;
}

#colors-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.ball {
    background: rgb(39, 199, 124);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 15px;
}

#answer {
    padding: 10px;
    font-size: 1.3em;
    background-color: rgb(235, 235, 235);
    border: solid 1px gray;
    /* rainbow box-shadow */
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}

/* -----------------------footer----------------------- */
