body {
  text-align: center;
  font-family: monospace;
}

#rgb-color {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  font-size: 30px;
  border: 1px solid black;
  box-shadow: 6px 6px 3px grey;
}

.balls-div {
  width: 50%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

.ball {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50px;
}

.ball:hover {
  transform: scale(1.5);
  cursor: pointer;
  border: 2px dashed black;
}

#score-container {
  border: 1px solid black;
  position: fixed;
  top: 0;
  right: 50px;
  padding: 5px 20px;
  font-size: large;
}
