h1 {
  text-align: center;
  color: rebeccapurple;
}

#rgb-color {
  text-align: center;
}

#fatherBalls {
  display: flex;
  justify-content: center;
  background-color: rgb(233, 233, 233);
  padding: 20px;
  border-radius: 5px;
}

.ball {
  width: 50px;
  height: 50px;
  background-color: rebeccapurple;
  border-radius: 50px;
  margin-left: 10px;
}

p {
  text-align: center;
}

body {
  background-color: salmon;
}

#answer {
  font-weight: 900;
  font-size: 30px;
}

#buttons {
  display: flex;
  justify-content: center;
}